.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-logo {
  height: 60px;
  width: 280px;
  margin: 10px;
}
.search-container {
  background-color: #ffffff;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  border-radius: 20px;
  width: 25vw;
  margin-top: 10px;
}
.search-box-container {
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
}
.search-img {
  height: 23px;
  width: 30px;
}
.input-box {
  border: 0px;
  margin-left: 5px;
  width: 19vw;
  color: #64748b;
  font-family: 'roboto';
}
